*{
    margin:             0;
    padding:            0;
}

a{
    text-decoration:    none;
}

.topfirst{
    height:             95px;
}

header{
    position:           absolute;
    width:              1519.2px;
    background:       #fff;
    border-bottom:      1px solid #ddd;
}

header .top{
    height:             36px;
    background-color: #fff;
}

header .top .searcher{
    margin-top:         5px;
    float:              right;
    margin-right:       35px;
}

header .top .searcher  input{
    position:           relative;
    width:              165.5px;
    height:             26px;
    line-height:        26px;
    border:             1px solid #ebebeb;
    border-radius:      28px;
    outline:            none;
    background:       #f3f3f3;
    font-size:          12px;
    color:            #333;
    padding-left:       10px;
}

.mainMenu{
    padding:            10px 10px;
    height:             75px;
    background-color: rgba(221, 194, 106, 0.708);
}

.mainMenu .top-pic{
    float:              left;
    width:              200px;
    text-align:         justify;
}

.mainMenu .top-pic img{
    height:             80px;
    width:              auto;
    float:              left;
}

.mainMenu .top-pic p{
    font-size:          xx-large;
    font-family:        '华文行楷';
    color:            rgba(49, 48, 48,0.8);
}

nav{
    float:              right;
}

nav ul {
    height:             50px;
    background:         none;
    margin-right:       10px;
}

nav ul li {
    height:             50px;
    padding:            17px 0;
    margin-left:        .2rem;
    float:              left;
    position:           relative;
    list-style:         none;
}

nav .nav-first div:hover{
    border-bottom:      solid 3px #e23509;
    color:            coral;
}

nav .nav-item{
    vertical-align:      middle;
    line-height:         60px;
}

nav .nav-item  div:hover{
    border-bottom:       solid 2px #e23509;
    color:             coral;
}


nav ul li a{
    padding:            0;
}

nav ul li p {
    height:             25px;
    line-height:        25px;
    text-align:         center;
    font-size:          14px;
    color:            #333;
}

nav ul li span {
    height:             15px;
    line-height:        15px;
    margin:             5px;
    display:            block;
    text-align:         center;
    font-size:          10px;
    color:            #999;
}

.inner-content{
    background:         url(https://static.wixstatic.com/media/9748c1_60a2f2fb3ff349b198672b2dd7187f7b~mv2.jpg/v1/fill/w_1453,h_751,al_c,q_85,usm_0.66_1.00_0.01/9748c1_60a2f2fb3ff349b198672b2dd7187f7b~mv2.webp);
}

.biaodan{
    width:              800px;
    height:             600px;
    background:       rgba(255, 255, 255,0.5);
    margin:             auto;
    font-family:        'kaiti';
    border-radius:      38px;
}

.top-word{
    width:              800px;
    margin:             auto;
    line-height:        1;
}

.top-word h2{
    width:              500px;
    margin:             auto;
    font-size:          16px;
}

.top-word h1{
    width:              500px;
    margin:             auto;
    font-size:          20px;
}

.input-tabel{
    width:              800px;
    margin:             auto;
}

form {
    margin:             auto;
	display:            table;
	padding:            10px;
	border:             none;
}

form textarea {
	width:              500px;
	height:             200px;
}

.tableRow {
	display:            table-row;
}

.tableRow p {
	display:            table-cell;
	vertical-align:     top;
	padding:            3px;
}

 .tableRow p:first-child {
	text-align:         right;
}

p.heading {
	font-weight:        bold;
} 

footer{
    background-color: rgba(221, 194, 106, 0.708);
    height:             70px;
    margin:             0 auto;
}

footer .inner{
    position:           relative;
}

footer .yejiao{
    width:              320px;
    margin:             auto;
    padding-top:        10px;
    text-align:         center;
    margin-bottom:      5px;
}

.yejiao img{
    width:              70px;
    height:             auto;
    float:              left;
}

.yejiao p{
    float:              left;
    width:              200px;
    font-size:          x-large;
    font-family:        '华文行楷';
    color:            rgba(49, 48, 48,0.8);
}